.toast {
    position: fixed;
    left: 50%;
    bottom: 30px;

    transform: translateX(-50%);

    background: #20202a;
    color: #686974;

    padding: 12px 18px;
    border-radius: 10px;

    z-index: 1000;
}